<!-- Demo file used during development
     It works if you run `npm run dev`
     and then visit localhost:8080 -->
<head>
  <link rel="stylesheet" type="text/css" href="../src/style.css"/>
  <script type="text/javascript" src="../src/cactus.js"></script>
  <style>
    body {
      font-family: "Helvetica", "Arial", sans-serif;
      margin: auto;
      width: 30%;
    }

    body.light {
      background-color: white;
      color: black;
    }

    body.dark {
      background-color: black;
      color: white;
    }
  </style>
  <script>
    function toggleDarkMode() {
      if (document.body.className == "light") {
        document.body.className = "dark"
      } else if (document.body.className == "dark") {
        document.body.className = "light"
      }
    }
  </script>
</head>
<body class="light">
  <button onClick="toggleDarkMode()">Toggle Dark Mode</button>

  <div>
    <h1>Comments</h1>
    <div id="my-comments"></div>
  </div>
  <script>
    initComments({
      node: document.getElementById("my-comments"),
      defaultHomeserverUrl: "https://matrix.cactus.chat:8448",
      serverName: "cactus.chat",
      siteName: "my-blog",
      commentSectionId: "example-page", // another id: all-event-types
      // the fiels below are optional
      loginEnabled: true,
      guestPostingEnabled: true,
      pageSize: 10,
      updateInterval: 0,
    })
  </script>
</body>
